<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="new_recipe.css">
<body>
<div
        th:fragment="recipe(product, current, ratioOptions,
        coverageOptions, geometryOptions,
        sphOptions, cylOptions, axOptions, addOptions, distOptions)"
>
    <div class="product-header">
        <h3 th:text="${product.productHeader()}">Заказ на очки</h3>
    </div>

    <div class="change-client-container">
        <div th:if="${current != null}">
            <h3 th:text="'Выбран клиент ' + ${current.name} + ' - ' + ${current.phone}"></h3>
        </div>
    </div>

    <form th:action="@{/products/recipe}" th:object="${product}" th:method="POST" class="new-recipe-form">
        <div>
            <button class="search-but">Сохранить</button>
        </div>
        <div class="new-recipe-flex">
            <div th:replace="~{parts :: hidden(id, ${product.getId()})}"></div>
            <div th:replace="~{parts :: hidden('oculus.id', ${product.getOculus().getId()})}"></div>
            <div th:replace="~{parts :: hidden('cost.id', ${product.getCost().getId()})}"></div>

            <div th:replace="~{parts :: field_if('Имя', customerName, ${current == null})}">Имя</div>
            <div th:replace="~{parts :: field_if('Телефон', customerPhone, ${current == null})}">Телефон</div>

            <div th:replace="~{parts :: field('Номер заказа', orderId)}">Номер заказа</div>
            <div th:replace="~{parts :: field('Для кого', forWho)}">Для кого</div>
            <div th:replace="~{parts :: field('Оправа ', frame)}">Оправа</div>
        </div>
        <div>
            <h4>Линзы</h4>
            <div class="new-recipe-flex">
                <div th:replace="~{parts :: select_('Коэфф.', ratio, ratioOptions)}">Коэфф.</div>
                <div th:replace="~{parts :: select_('Покрытие', coverage, coverageOptions)}">Покрытие</div>
                <div th:replace="~{parts :: select_('Геометрия', geometry, geometryOptions)}">Геометрия</div>
                <div class="lenses-flex">
                    <div th:replace="~{parts :: select('OD sph', 'oculus.odSph', sphOptions, 60)}">OD sph</div>
                    <div th:replace="~{parts :: select('cyl', 'oculus.odCyl', cylOptions, 30)}">cyl</div>
                    <div th:replace="~{parts :: select('ax', 'oculus.odAx', axOptions, 30)}">ax</div>
                    <div th:replace="~{parts :: select('add', 'oculus.odAdd', addOptions, 30)}">add</div>
                </div>
                <div class="lenses-flex">
                    <div th:replace="~{parts :: select('OS sph', 'oculus.osSph', sphOptions, 60)}">OS sph</div>
                    <div th:replace="~{parts :: select('cyl', 'oculus.osCyl', cylOptions, 30)}">cyl</div>
                    <div th:replace="~{parts :: select('ax', 'oculus.osAx', axOptions, 30)}">ax</div>
                    <div th:replace="~{parts :: select('add', 'oculus.osAdd', addOptions, 30)}">add</div>
                </div>
            </div>
        </div>
        <div class="new-recipe-flex">
            <div th:replace="~{parts :: field('Рецепт', fromWho)}">Чей Рецепт</div>
            <div th:replace="~{parts :: select_('РЦ', 'distance', distOptions)}">РЦ</div>
            <div th:replace="~{parts :: field_area('Примечания', info)}">Примечания</div>
            <div th:replace="~{parts :: date('Дата приёма', receptionDate)}">Дата приёма</div>
            <div th:replace="~{parts :: date('Дата выдачи', deliveryDate)}">Дата выдачи</div>
        </div>
        <div>
            <h4>Стоимость</h4>
            <div class="new-recipe-flex">
                <div th:replace="~{parts :: field('Оправа', 'cost.frame')}">Оправа</div>
                <div th:replace="~{parts :: field('Линзы', 'cost.lenses')}">Линзы</div>
                <div th:replace="~{parts :: field('Работа', 'cost.work')}">Работа</div>
                <div th:replace="~{parts :: field('Сумма', 'cost.sum')}">Сумма</div>
                <div>
                    <label th:text="Скидка"></label>
                    <span th:id="Скидка" th:text="${discount}" th:value="${discount}"></span><span>%</span>
                    <!--                        <input th:id="Скидка" th:value="${discount}" style="text-align:center;" autocomplete="off" disabled/><br/>-->
                </div>
                <div th:replace="~{parts :: field('Итого', 'cost.total')}">Итого</div>
                <div th:replace="~{parts :: field('Оплачено', 'cost.paid')}">Оплачено</div>
                <div th:replace="~{parts :: field('Доплата', 'cost.extra')}">Доплата</div>
            </div>
        </div>
        <div>
            <button class="search-but">Сохранить</button>
        </div>
    </form>
</div>
</body>
<script th:src="@{/js/input.js}"></script>
<script th:src="@{/js/calculate_recipe.js}"></script>
<script th:src="@{/js/validation.js}"></script>
<script th:src="@{/js/check_num.js}"></script>
<script>
    $(".js-example-tags").select2({
        tags: true
    });
</script>
</html>
