<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="new_lenses.css">
<body>

<div th:fragment="other(product, isSunglasses)">
    <h3 th:text="${product.productHeader()}" class="new_lenses_heading"></h3>

    <form th:action="@{/products/other}" th:object="${product}" th:method="POST" class="new_lenses_form">
        <div th:replace="~{parts :: hidden(id, ${product.getId()})}"></div>
        <div th:replace="~{parts :: hidden(productType, ${product.getProductType()})}"></div>
        <div th:replace="~{parts :: field_if('Артикул', article, ${isSunglasses})}"></div>
        <div th:replace="~{parts :: field('Название', name)}"></div>
        <div th:replace="~{parts :: field('Цена', price)}"></div>
        <button style="margin-top: 20px;" class="search-but">Сохранить</button>
    </form>
</div>

</body>
</html>