*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

input {
    outline: 2px solid black;
    border: none;
}

input:hover {
    outline: 2px solid orange;
}

input:focus {
    outline: 2px solid blue;
}

/* Print raw */
.print-container {
    display: flex;
    flex-direction: column;
    background-color: #f1f7e6;
}

.print-top-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    border: 1px solid black;
    border-bottom: 0;
    padding: 20px;
    height: 350px;
    font-size: 14px;
}

.top-print-block {
    display: flex;
    gap: 40px;
}

.image-print {
    display: flex;
    gap: 10px;
}

.image-print-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.image-print-icon {
    width: 15px;
    vertical-align: middle;
    margin-right: 5px;
}

.customer-print {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.bottom-print-block {
    display: flex;
    justify-content: space-between;
}

.print-price-heading {
    font-size: 15px;
    text-decoration: underline;
}

.linse-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.linse-block-flex-container {
    display: flex;
    gap: 10px;
}

.linse-block-flex-container > div {
    display: flex;
    flex-direction: column;
}

.linse-block-flex {
    display: flex;
    gap: 3px;
}

.linse-block-vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}

.price-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 100px;
    position: relative;
}

.price-block::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #000;
    left: -10px;
}

.print-cost-total {
    font-weight: 900;
}

/* bottom part of the print-container */
.print-bottom-container {
    border: 1px solid black;
    padding: 10px;
    height: 420px;
}

.print-bottom-text-block-heading {
    display: block;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 10px;
}

.print-bottom-text {
    font-size: 12px;
}

.print-bottom-container p {
    margin-bottom: 10px;
}

/* Print recipe */
.print-final-flex {
    display: flex;
}