<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title th:text="${product.getTypeName()}"></title>
</head>
<body>

<div th:replace="~{parts :: headers(${product.getTypeName()})}"></div>

<form th:action="@{/products/other}" th:object="${product}" th:method="POST">
    <div th:replace="~{parts :: field_id(id, ${product.getId()})}"></div>
    <div th:replace="~{parts :: field('Название', name)}"></div>
    <div th:replace="~{parts :: field('Цена', price)}"></div>


    <button class="search-but" type="submit">Сохранить</button>
</form>

</body>
</html>