
label {
    display: inline-block;
    text-align: center;
    width: 100px;
    margin-bottom: 10px;
}

label.short {
    width: 50px;
}

input.short {
    width: 40px;
}

a {
    color: brown;
    text-decoration: none;
    font-size: 20px;
}

.info {
    white-space: pre-line;
}

input {
    width: 120px;
}

.right_elem {
    position: absolute;
    right: 10px;
}

@page {
    size: auto;
    margin: 0;
}

html {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.side-bar {
    border: 1px solid green;
    margin: 5px;
    padding: 5px;
}

.main-page {
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}

.search-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.search {
    padding: 10px 350px 10px 15px;;
    border-radius: 100px;
}

.search-but {
    padding: 10px 45px 10px 45px;
    border-radius: 100px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 300px) and (min-width: 720px) {

}

@media (min-width: 720px) {
    .side-bar {
        width: 200px;
        float: left;
    }

    .main-page {
        width: 500px;
        float: right;
    }
}


