<!DOCTYPE html>
<html lang="en">

<body>

<aside th:fragment="bit()">
  <ul>
    <li><a class="btn-sidebar clr-0" href="/products/show_products">Перейти к Заказам</a></li>
    <li><a class="btn-sidebar clr-1" href="/products/recipe">Заказ на Очки</a></li>
    <li><a class="btn-sidebar clr-3" href="/products/recipe/old">Старый Заказ на Очки</a></li>
    <li><a class="btn-sidebar clr-2" href="/products/lenses">Контактные Линзы</a></li>
    <li><a class="btn-sidebar clr-2" href="/products/other/sunglasses">С/З Очки</a></li>
    <li><a class="btn-sidebar clr-2" href="/products/other/case">Футляры</a></li>
    <li><a class="btn-sidebar clr-2" href="/products/other/accessory">Аксессуары</a></li>
    <li><a class="btn-sidebar clr-2" href="/products/other/other">Прочее</a></li>
    <li><a class="btn-sidebar clr-2" href="/products/upload">Загрузить фото</a></li>
    <li><a class="btn-sidebar clr-3" href="/options">Добавить опции</a></li>
    <li><a class="btn-sidebar clr-3" href="/download">Скачать</a></li>

  </ul>
</aside>

</body>
</html>