*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

input {
    outline: 2px solid black;
}

input:hover {
    outline: 2px solid orange;
}

input:focus {
    outline: 2px solid blue;
}

.new_lenses_form {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    margin-top: 20px;
}

.new_lenses_heading {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Times New Roman';
}

.search-but {
    font-size: 20px;
    border-radius: 10px;
    padding: 9px;
    background-color: #9cbd60;
    font-family: 'Tahoma', 'Arial', sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
    border: none;
}

.search-but:hover {
    background-color: #4d4443;
    color: #fff;
}

.search-but:active {
    background-color: black;
    color: yellow;
}