*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
span {
    font-size: 16px;
}
input {
    outline: 2px solid black;
    border: none;
}
.linse-block-flex span {
    font-size: 18px;
}
input:hover {
    outline: 2px solid orange;
}

input:focus {
    outline: 2px solid blue;
}

/* Ð’ÐµÑÑŒ ÐºÐ¾Ð½Ñ‚ÐµÐ¹Ð½ÐµÑ€ */
.print-container {
    display: flex;
    flex-direction: column;
    background-color: #f1f7e6;
}

/* Ð¨Ð°Ð¿ÐºÐ° + Ð ÐµÑ†ÐµÐ¿Ñ‚ + Ð¡Ñ‚Ð¾Ð¸Ð¼Ð¾ÑÑ‚ÑŒ */
.print-top-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border: 1px solid black;
    border-bottom: 0;
    padding: 5px 15px;
    height: 400px;
}

/* Ð¨Ð°Ð¿ÐºÐ° Ñ ÐºÐ»Ð¸ÐµÐ½Ñ‚Ð¾Ð¼ */
.top-print-block {
    display: flex;
    gap: 15px;
    /*font-size: 14px;*/
}

/* ÐšÐ»Ð¸ÐµÐ½Ñ‚ */
.customer-print {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*gap: 10px;*/
}
.customer-print-top {
    display: flex;
    gap: 20px;
}
.customer-print-top2{

}

/* Ð ÐµÑ†ÐµÐ¿Ñ‚ + Ð¡Ñ‚Ð¾Ð¸Ð¼Ð¾ÑÑ‚ÑŒ */
.bottom-print-block {
    display: flex;
    /*font-size: 16px;*/
    justify-content: flex-start;
}

/* Ð ÐµÑ†ÐµÐ¿Ñ‚ */
.linse-block {
    display: flex;
    flex-direction: column;
    /*font-size: 16px;*/
    gap: 2px;
    width: 70%;
    margin-top: 10px;
}

/* Ð ÐµÑ†ÐµÐ¿Ñ‚ - OD, OS sph ...*/
.linse-block-flex-container {
    display: flex;
    gap: 20px;
}

.linse-block-flex-container > div {
    display: flex;
    font-size: 18px;
    gap: 3px;
    flex-direction: column;
}

/* Ð ÐµÑ†ÐµÐ¿Ñ‚ - OD sph ...*/
.linse-block-flex {
    display: flex;
    gap: 20px;
}

/* Ð ÐµÑ†ÐµÐ¿Ñ‚ - Ñ€Ñ† */
.linse-block-vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}

/* Ð¡Ñ‚Ð¾Ð¸Ð¼Ð¾ÑÑ‚ÑŒ */
.price-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
    margin-right: 0px;
    position: relative;
    width: 30%;
    padding-left: 6px;
}

.price-block::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #000;
    left: 0px;
}

/* Ð¡Ñ‚Ð¾Ð¸Ð¼Ð¾ÑÑ‚ÑŒ - Ð¸Ñ‚Ð¾Ð³Ð¾ */
.print-cost-total {
    font-weight: 900;
}

/* Ð¡Ñ‚Ð¾Ð¸Ð¼Ð¾ÑÑ‚ÑŒ - Ð·Ð°Ð³Ð¾Ð»Ð¾Ð²Ð¾Ðº */
.print-price-heading {
    font-size: 17px;
    text-decoration: underline;
}

/* bottom part of the print-container */
.print-bottom-container {
    position: relative;
    border: 1px solid black;
    padding: 4px 15px;
    height: 355px;
}

.print-bottom-text-block-heading {
    display: block;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 4px;
}

.print-bottom-text {
    font-size: 11px;
}

.print-bottom-container p {
    margin-bottom: 4px;
}

/* Print recipe */
.print-final-flex {
    display: flex;
}



/* Ð˜Ð·Ð¾Ð±Ñ€Ð°Ð¶ÐµÐ½Ð¸Ñ Ð¾Ð¿Ñ‚Ð¸ÐºÐ¸ + Ð¿Ð¾Ñ‡Ñ‚Ñ‹ */

.image-print {
    display: flex;
    flex-direction: column;
    /*gap: 10px;*/
}

.image-print-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*gap: 15px;*/
}

.image-print-icon {
    width: 15px;
    vertical-align: middle;
    margin-right: 5px;
}


img.print {
    position: absolute;
    width: 100px;
    top: -50px;
    right: 175px;
}
.flexbox {
    display: flex;
}

.fullwidth {
    width: 100%;
}