*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: black;
}

html {
    font-size: 16px;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

body {
    background-color: #f4e7d0;
}

input {
    height: 20px;
}

/* Header */
header {
    padding: 15px 15px 30px 15px;
    position: sticky;
    top: 0;
    background: url('img/bg/header_bg.jpg') no-repeat;
    background-size: cover;
    color: #fff;
}

.search-form {
    padding: 5px 0 15px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.search-label {
    font-size: 30px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #cbed7b;
    font-family: 'Verdana', 'Helvetica', sans-serif;
    text-shadow: -1px 0 #fa3c02, 0 1px #fa3c02, 1px 0 #fa3c02, 0 -1px #fa3c02;
}

.search {
    padding: 9px;
    outline: 2px solid #d19c15;
    border-radius: 10px;
    font-size: 15px;
    min-width: 13%;
    max-height: 35px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.6);
}

.search:focus {
    outline: 2px solid #5980c9;
}

.search-btn {
    padding: 10px 35px;
    border-radius: 100px;
    color: #4f120a;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #7ef2e0;
    font-size: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    font-family: 'Verdana', 'Helvetica', sans-serif;
}

.search-btn:hover {
    background-color: #d2e010;
}

.search-btn:active {
    color: #fff;
    background-color: #c2bd19;
}

.hedaer-gui-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.header-gui {
    display: inline-flex;
    gap: 100px;
}

.header-gui .left-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header-gui .left-block > div {
    height: 22px;
}

.header-gui .right-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header-gui > div > div > span {
    font-size: 19px;
    color: #fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.header-btn a {
    color: #633b05;
    background-color: #c2bd19;
    padding: 5px 15px;
    font-size: 17px;
    border-radius: 11px;
    outline: 1px solid #000;
    text-shadow: none;
    font-family: 'Verdana', 'Helvetica', sans-serif;
}

.header-btn a:hover {
    color: #050505;
    background-color: #d1ab2e;
}

.header-btn a:active {
    color: #fff;
    background-color: #947b25;
}

/* Whole page */
.page {
    display: flex;
    justify-content: space-between;
}

/* Sidebar */
aside {
    width: 233px;
    background-image: url("img/bg/sidebar_bg.jpg");
}

aside > ul {
    padding: 30px 15px 30px 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

aside > ul > li {
    display: inline-block;
}

.btn-sidebar {
    padding: 10px;
    border-radius: 100px;
    color: #4f120a;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.6);
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    display: inline-block;
    width: 100%;
}

.btn-sidebar.clr-0 {
    background-color: #e5c911;
}

.btn-sidebar.clr-1 {
    background-color: #19e650;
}

.btn-sidebar.clr-2 {
    background-color: #3dad3d;
}

.btn-sidebar.clr-3 {
    background-color: #a88451;
}

.btn-sidebar:hover {
    background-color: #d2e010;
}

.btn-sidebar:active {
    color: #fff;
    background-color: #c2bd19;
}

/* Content side */
.content {
    width: calc(100% - 233px);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 45px;
    /* border: 1px solid blue; */
}

/*  */

label {
    display: inline-block;
    text-align: center;
    width: 100px;
    margin-bottom: 10px;
    font-size: 16px;
}

.linse {
    display: flex;
    flex-direction: column;
}

@media (max-width: 759px) {
    .header-gui > div > span {
        font-size: 15px;
    }

    .header-btn a {
        font-size: 13px;
    }
}

@media (max-width: 699px) {
    header {
        position: static;
    }

    .header-gui .left-block > div {
        height: auto;
    }

    .header-gui {
        flex-direction: column;
        justify-content: baseline;
        gap: 30px;
    }

    .header-gui .left-block {
        gap: 20px;
    }

    .header-gui .right-block {
        gap: 20px;
    }

    .header-gui > div > span {
        font-size: 15px;
        text-align: center;
    }

    .header-btn a {
        font-size: 13px;
    }
}

@media (max-width: 599px) {
    .content {
        width: calc(100% - 175px);
    }

    aside {
        width: 175px;
    }

    aside > ul > li > a {
        font-size: 12px;
    }
}

@media (max-width: 499px) {
    .search-form {
        flex-direction: column;
    }
}

@media (max-width: 349px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }

    .page {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    aside > ul > li {
        text-align: center;
    }

    aside > ul > li > a {
        font-size: 15px;
    }

    .content {
        padding-top: 20px;
        width: 100%;
    }
}