*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.customer_container {
    display: flex;
    gap: 50px;
}

.customer_form {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    margin-top: 20px;
}

.customer_heading {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Times New Roman';
}

.change-client {
    margin-top: 10px;
    margin-bottom: 10px;
}

.change-client a {
    display: inline-block;
    color: brown;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Verdana', Times, serif;
    background-color: orange;
    padding: 5px;
    border-radius: 10px;
    outline: 1px solid blue;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
}

.change-client a:hover {
    background-color: yellow;
}

.change-client a:active {
    color: #000;
}

.customer_info {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    font-size: 18px;
}

.search-but {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 10px;
    padding: 9px;
    background-color: #9cbd60;
    font-family: 'Tahoma', 'Arial', sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
    border: none;
}

.search-but:hover {
    background-color: #4d4443;
    color: #fff;
}

.search-but:active {
    background-color: black;
    color: yellow;
}