<!DOCTYPE html>
<html lang="en">

<body>
<div th:fragment="bit(customer)">
  <h3 class="customer_heading">Новый Клиент</h3>

  <div class="customer_form">
    <form th:action="@{/customers/add}" th:object="${customer}" th:method="POST">
      <div th:replace="~{p :: hidden(id, ${customer.getId()})}"></div>
      <div th:replace="~{p :: field('Имя', name)}"></div>
      <div th:replace="~{p :: field('Телефон', phone)}"></div>
      <div th:replace="~{p :: date('Дата рождения', birthday)}"></div>
      <button style="margin-top: 20px;" class="search-but">Сохранить</button>
    </form>
  </div>
</div>
</body>
</html>
