/* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
} */

/* Print raw */
.print-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    width: 450px;
    padding: 20px;
    background-color: #f1f7e6;
}

.top-print-block {
    display: flex;
    gap: 40px;
}

.image-print {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 150px;
}

.image-print-icon {
    width: 15px;
    vertical-align: middle;
    margin-right: 5px;
}

.customer-print {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.bottom-print-block {
    display: flex;
    justify-content: space-between;
}

.print-price-heading {
    font-size: 22px;
    text-decoration: underline;
}

.linse-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.linse-block-flex-container {
    display: flex;
    gap: 10px;
}

.linse-block-flex {
    display: flex;
    gap: 3px;
}

.linse-block-vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.print-cost-total {
    font-weight: 900;
}

/* Print recipe */
.print-final-flex {
    display: flex;
}